body {
  margin: 0;
  background: url('assets/Field.jpeg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
font-family: "CCThatsAllFolks";
margin-bottom: 450px;

}
.controls {
  margin-bottom: 450px;
}

button {
  padding: 12px 25px;
  margin: 0 10px;
  font-family: "CCThatsAllFolks";
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: orange;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: orangered;
}
.score {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.game {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.mole {
  border: 3px solid red;
}
.mole {
  width: 120px;
  height: 120px;
  /* background:no-repeat; */
  position: absolute;
  bottom: -120px; /* hidden */
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.2s;
  pointer-events: auto;
}

.mole.up {
  bottom: 0; /* visible */
}

.hole {
  width: 200px;
  height: 150px;
  background: url('assets/Mole-Hole.png') center/contain no-repeat;
  position: relative;
  overflow: hidden;
}



