
/* colors
--Floral-White-- #FFFCF2
--Dust-Gray-- #CCC5B9
--Charcoal-Brown-- #403D39
--Carbon-Black-- #252422
--Spicy-Paprika-- #EB5E28
--Golden-Sun-- #E3B23C
 */

        :root {
            --color-accent:  #EB5E28;      
            --color-accent2: #E3B23C;     
            --color-background: #403D39;
            --color-lightbackground:  #CCC5B9;
            --color-text-dark: #252422;
            --color-text-light: #FFFCF2;

            /* Typography */
            --font-primary: 'Lexend Exa', -apple-system, BlinkMacSystemFont, sans-serif;
            --font-secondary: "Libre Caslon Text", serif;

        }

/* CSS for every page top title and background color */

nav h2 {
    position: absolute;
    left:40px;
    z-index: 999;

    width: fit-content;
    text-align: left;

    padding: 6px 10px 3px;
    margin-top: -5px;
    margin-bottom:auto;

    background-color: #CCC5B9;
    color: #FFFCF2;

    border-radius: 10px;

}

header {
    position: sticky;
    top: 0;
    z-index: 0;

    text-align: right;

    background-color: #252422;

    padding: 30px 10px 5px;

    border-radius: 20px;

    margin: 0;
}

body{
    background-color: #403D39;
}

main{
    padding: 20px;
    font-family: var(--font-primary);
    color:#CCC5B9;
}

h1{
    color:#CCC5B9;
    font-family: var(--font-primary)
}

h1 i{
    color: #EB5E28;
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
}

h2 a{
    color: #252422 ;
    font-family: var(--font-primary);
}

h3 a{
    text-align: left;
     color: #E3B23C;
    font-family: var(--font-primary);
}

p {
    text-indent: 2em;
}

nav h3{
    word-spacing: 20px; 
}